<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias - Flor de Leche</title>
    <link rel="stylesheet" href="static/style.css">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
    
    <header>
        <nav>
            <ul>
                <nav>
                    <nav>
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('inicio') }}">Inicio</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('servicios') }}">Servicios</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('quienessomos') }}">Quiénes Somos</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('noticias') }}">Noticias</a></li>
                            <li class="nav-item"><a class="nav-link" href="{{ url_for('contactos') }}">Contactos</a></li>
                        </ul>
                    </nav>
                </nav>
            </ul>
        </nav>
    </header>

    <main>
        <section class="noticias">
            <h1>Últimas Noticias</h1>

            <div class="noticia">
               
                <h2>Nueva Línea de Productos Artesanales</h2>
                <p>Flor de Leche lanza una nueva línea de quesos artesanales con sabores únicos y tradicionales.</p>
            </div>

            <div class="noticia">
                <img src="{{ url_for('static', filename='img/productos/noticias.png') }}" alt="noticias ">
                <h2>Flor de Leche Participa en la Feria de Productos Orgánicos</h2>
                <p>Nuestro equipo estuvo presente en la feria anual de productos orgánicos mostrando nuestros productos naturales.</p>
            </div>

            <div class="noticia">
                
                <h2>Talleres Gratuitos de Producción de Yogurt</h2>
                <p>Invitamos a todos a participar en nuestros talleres gratuitos para aprender a hacer yogurt casero y saludable.</p>
            </div>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Flor de Leche. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
